.demoForm {
	width: 500px;
	margin: auto;
}
.card {
    border: none;
    -webkit-box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
    box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
    margin-bottom: 30px;
}
.wrapper-page {
    margin: 5.5% auto;
    max-width: 492px;
    position: relative;
}

.bg-primary {
    background-color: #3c8dbc!important;
}

.text-white {
    color: #fff!important;
}

.font-20 {
    font-size: 20px;
}

.m-b-5 {
    margin-bottom: 5px;
}

.wrapper-page .logo {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;
    margin: 0 auto;
    width: 74px;
    height: 74px;
    line-height: 74px;
    background: #fff;
    border-radius: 50%;
    border-bottom: 2px solid #02a499;
}
