body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#calendar {
  max-width: 700px;
  max-height: 600px;
  margin: auto;
}

#calendar .fc-today {
  background: #ccc;
}
#calendar .fc-day {
  transition: all 0.5s;
}
#calendar .fc-day:hover {
  background: #ccc;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.header {
  background-color: coral;
}

.logout {
  display: inline-block;
}
