.body {
    background-repeat: repeat;
    background: #f8f8fa;
    
    color: #5b626b;
    font-size: 14px;
}


#calendar{
  max-width: 700px;
  max-height: 600px;
  margin: auto;
}

#calendar .fc-today{
  background: #ccc;
}
#calendar .fc-day{
  transition: all .5s;
}
#calendar .fc-day:hover{
  background: #ccc;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
